/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderContainer {
  margin-top: 86px;
}

.imageWrapper {
  padding: 0 16px;
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.buttonReadDocs {
  width: 160px;
}

.buttonTryIt {
  width: 160px;
  background-color: #2f2f2f;
  color: #ffffff !important;
}
